<template>
   <div>
     <invisible-recaptcha
     ref="myRecaptcha"
     placement=""
     sitekey="privatesitekeyhere"
     :validate="formValidation"
     :onVerify="doTask"
     @loaded="captchaLoaded = true"
     ></invisible-recaptcha>
     <button @click="clickButton" :disabled="!captchaLoaded">Do Task</button>
   </div>
</template>
<script>
  import InvisibleRecaptcha from '../src/recaptcha.js';
  Vue.component('invisible-recaptcha',InvisibleRecaptcha);
  export default {
    methods: {
      clickButton(){
        // button is clicked
        // execute recaptcha to get token
        this.$refs.myRecaptcha.execute()
      },
      formValidation(cb){
        // do any form validation here
        let valid = true // or false if invalid
        return cb(valid)
      },
      doTask(token) {
        if(!token){
         return false
        }
      }
    },
    data() {
      return {
        captchaLoaded: false
      }
    }
  }
</script>
